<!DOCTYPE html>
<html lang="en">

<script src="js/vue.js"></script>
<script src="js/vue-paginate.js"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/axios.min.js"></script>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/custom.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vehicle Search</title>
</head>
<body>

<div id="app">
    <main role="main" class="container">
        <div class="header">
            <h2 class="mb-3">Vehicle Search Version 1.5</h2>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Keywords, make, model.." @keyup="liveSearch" @keyup.enter="search(true)" v-model="searchQuery" id="search">
                <div class="input-group-append" @click="search(true)">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>

            <div v-if="showSearchSuggestions" id="live-search-results-container">
                <ul>
                    <li v-for="suggestion in searchSuggestions" @click="applySuggestion(suggestion)">{{ suggestion }}</li>
                </ul>
            </div>
        </div>
        
        <div class="advert" v-if="advert !== null">
            <a :href="advert.url" rel="noreferrer" target="_blank" >
                <img :src="advert.image_url" :alt="advertKeywordsFormat(advert.keywords)">
            </a>
        </div>

        <div class="results" v-if="listings !== null && listings.length > 0">
            <div v-for="(listing, index) in listings" class="result card">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 listing-image">
                                <p class="thumb-count">{{ listing.thumb_index + 1 }} / {{ listing.thumb_urls.length }}</p>
                                <img @click="thumbClick(index)" :src="listing.thumb_urls[listing.thumb_index]" alt="">
                            </div>
                            <div class="col listing-description">
                                <p>{{ listing.description }}</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <p>{{ listing.price }} {{ keywordsFormat(listing.keywords) }}</p>
                            </div>
                            <div class="col float-right">
                                <a :href="listing.url" rel="noreferrer" target="_blank" class="float-right">View</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
            <paginate class="float-right"
                    :page-count=totalPages
                    v-model=currentPage
                    :page-range=4
                    :click-handler="pageClickCallback"
                    :container-class="'pagination'"
                    :page-class="'page-item'"
                    :page-link-class="'page-link'"
                    :prev-class="'page-item'"
                    :next-class="'page-item'"
                    :prev-link-class="'page-link'"
                    :next-link-class="'page-link'"
                    :active-class="'active'">
            >

            </paginate>
        </div>

        <div class="no-results" v-if="listings !== null && listings.length === 0">
            <h6>No results :(</h6>
        </div>
    </main>
</div>

<script>
    const API_BASE = 'https://prod-csc-proj.redwolf.systems/api';
    Vue.component('paginate', VuejsPaginate);

    let app = new Vue({
        el: '#app',
        data: {
            searchQuery: null,
            searchSuggestions: null,
            showSearchSuggestions: false,
            listings: null,
            totalPages: null,
            currentPage: 1,
            advert: null
        },
        methods: {
            liveSearch: function(event) {
                if (event.which === 13) {
                    return;
                }

                if (this.searchQuery === null || this.searchQuery.length < 2) {
                    this.showSearchSuggestions = false;
                    return;
                }

                axios.get(API_BASE + '/liveSearch', {params: {q: this.searchQuery}}).then((response) => {
                    const data = response.data;

                    if (!data.success) {
                        alert(data.error);
                        return;
                    }

                    const suggestions = data.data.sort();
                    this.searchSuggestions = suggestions;
                    this.showSearchSuggestions = suggestions.length > 0 && this.searchQuery.trim().split(' ').slice(-1)[0] !== suggestions[0];
                });
            },
            applySuggestion: function(item) {
                const currentSearchCleaned = this.searchQuery.replace(/\s+/g, ' ');
                const newSearchParts = currentSearchCleaned.split(' ').slice(0, -1);

                newSearchParts.push(item);
                this.searchQuery = newSearchParts.join(' ') + ' ';

                $("#search").focus();
                this.liveSearch();
            },
            search: function(pageReset) {
                if (pageReset === true) {
                    this.currentPage = 1;
                }

                this.showSearchSuggestions = false;

                const currentSearchCleaned = this.searchQuery.replace(/\s+/g, ' ').trim();
                axios.get(API_BASE + '/search', {params: {q: this.searchQuery, page: this.currentPage}}).then((response) => {
                    const data = response.data;

                    if (!data.success) {
                        alert(data.error);
                    }

                    const listings = data.data;
                    listings.forEach(function(element) {
                        element.thumb_index = 0;
                    });

                    this.advert = data.ad;
                    this.listings = listings;
                    this.totalPages = Math.ceil(data.total / 10);
                })
            },
            thumbClick: function(listing) {
                const itemReference = this.listings[listing];
                itemReference.thumb_index = (itemReference.thumb_index + 1) % itemReference.thumb_urls.length;
            },
            keywordsFormat: function(keywords) {
                if (keywords.length === 0) {
                    return '';
                }

                return '| ' + keywords.slice(0, 3).join(' | ')
            },
            advertKeywordsFormat: function(keywords) {
                return keywords.join(', ');
            },
            pageClickCallback: function(pageNumber) {
                this.currentPage = pageNumber;
                this.search();
                window.scrollTo(0, 0);
            }
        }
    });
</script>

</body>
</html>
