.header, .results, .no-results {
    padding: 1em 1.5rem;
}

#live-search-results-container {
    margin-top: -1rem;
    border: solid 1px #ced4da;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px 0;
}

#live-search-results-container ul {
    list-style: none;
    padding-left: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

#live-search-results-container ul li {
    padding: 3px 0;
}

.result {
    margin-bottom: 20px;
}

.listing-image img {
    max-width: 100%;
    border: 2px solid #212529;
}

.listing-image {
    display: flex;
    justify-content: right;
}

.listing-description {
    overflow-y: auto;
    max-height: 250px;
}

.thumb-count {
    margin-bottom: 2px;
    margin-right: 2px;
    background-color: #ffffff85;
    position: absolute;
    align-self: flex-end;
    padding: 5px;
}

.advert {
    padding: 1em 1.5rem;
}

.advert img {
    max-width: 100%;
}